<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="page-header">
      <h1>Travel Planner</h1>
      <div>
        <span>My trips:</span>
        <button>+ add trip</button>
      </div>
    </header>

    <!-- form -->
    <div class="form">
      <div class="input-area">
        <label for="place-input">My trip to:</label>
        <input type="text" id="place-input" placeholder="Enter Location">
      </div>
      <div class="input-area">
        <label for="date-input">Departing:</label>
        <input type="date" id="date-input" required>
      </div>
      <!-- button -->
      <div>
        <button class="left-btn" id="generate">Generate</button>
        <button class="right-btn" id="cancel">Cancel</button>
      </div>
    </div>

    <main class="card-holder">
      <!-- card item -->
      <article class="card-item">
        <img alt="Destination" src="https://pixabay.com/get/gf2abe42191ce9caf8b8638a489fae227e0a6b8117ee8b5fd2ccc5bb85af8f408f86256c0d070e86a5aa4f0a70d51b245_640.jpg">

        <!-- info -->
        <div class="info">
          <!-- summary -->
          <header>
            <div>
              <span>My trip to:</span>
              <span class="place">Paris, France</span>
            </div>
            <div>
              <span>Departing:</span>
              <time id="date">02/12/2020</time>
            </div>
          </header>

          <!-- button -->
          <div>
            <button class="left-btn" id="save">Save</button>
            <button class="right-btn" id="remove">Remove</button>
          </div>

          <!-- detail -->
          <div><span class="place">Paris, France</span> is <span id="day">220</span> days away</div>
          <div>
            <span>Typical weather for then is:</span>
            <div class="weather">High <span id="high">-46</span>, Low <span id="low">-35</span></div>
            <span class="weather" id="weather-detail">Mostly cloudy throughout the day.</span>
          </div>
        </div>
      </article>
    </main>
  </body>
</html>