<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="page-header">
      <h1>Travel Planner</h1>
      <div>
        <span>My trips:</span>
        <button>+ add trip</button>
      </div>
    </header>

    <!-- form -->
    <div class="form">
      <div class="input-area">
        <label for="place-input">My trip to:</label>
        <input type="text" id="place-input" placeholder="Enter Location">
      </div>
      <div class="input-area">
        <label for="date-input">Departing:</label>
        <input type="date" id="date-input" required>
      </div>
      <!-- button -->
      <div>
        <button class="left-btn" id="generate">Generate</button>
        <button class="right-btn" id="cancel">Cancel</button>
      </div>
    </div>

    <main class="card-holder"></main>

    <!-- card item -->
    <template id="template">
      <article class="card-item">
        <img alt="Destination" src="">

        <!-- info -->
        <div class="info">
          <!-- summary -->
          <header>
            <div>
              <span>My trip to:</span>
              <span class="place"></span>
            </div>
            <div>
              <span>Departing:</span>
              <time class="date"></time>
            </div>
          </header>

          <!-- button -->
          <div>
            <button class="left-btn save">Save</button>
            <button class="right-btn remove">Remove</button>
          </div>

          <!-- detail -->
          <div><span class="place"></span> is <span class="day"></span> away</div>
          <div>
            <span>Typical weather for then is:</span>
            <div class="weather temp"></div>
            <span class="weather detail"></span>
          </div>
        </div>
      </article>
    </template>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
    </script>
  </body>
</html>